<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page - Admin</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Bvvwt6TK/cloud.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="topnav">
        <h1 id="h1">Supply Chain Management</h1>
        <h1>Admin login</h1>
    </div>
    <form action="" method="POST">
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your account!</div>
        <div class="input-container ic1">
          <input id="firstname" class="input" type="text" placeholder=" " name="uname" />
          <div class="cut"></div>
          <label for="firstname" class="placeholder" name="uname">Username</label>
        </div>
        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" "  name="pass" />
          <div class="cut"></div>
          <label for="lastname" class="placeholder" name="pass">password</label>
        </div>
        <button type="text" class="submit">submit</button>
      </div>
      <div class="footer">
        <p>&#169 All rights reserved</p>
      </div> 
    </form>
    
    <!-- <form action="" method="POST">
    <main>
        <div class="row">
            <h1>Login Page</h1>
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="username" name="uname" required>
                    <input type="number" placeholder="password" name="pass" required>
                    <input type="submit" value = "submit" class="btn-login">
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&#169 All rights reserved</p>
        </div>  
    </main>
    </form> -->
    
</body>
</html>

