<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ipfs upload</title>
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Bvvwt6TK/cloud.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="topnav">
        <h1 id="h1">Document Verification</h1>
    </div>
<main>
    <div class="row">
        <h1>File uploaded!</h1>
        <div class="colm-form">
            <div class="form-container">
            <p>Status: <%= yes %></p>
            <br><br>
        </div>
    </div>
    <div class="footer">
        <p>&#169 All rights reserved</p>
    </div>  
</main>
</body>
</html>